@import '@styles/mixins';
.ProjectCard {
  width: 20rem;
  aspect-ratio: 9 / 14;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 2rem 1.5rem;
  text-align: left;
  cursor: pointer;
  transition: scale 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  position: relative;

  &:focus-within,
  &:hover {
    scale: 1.05;
    box-shadow: 0 0 16px 2px rgba(255, 179, 255, 0.8);
  }

  button {
    position: absolute;
    bottom: 0;
    left: 1rem;
  }

  .date {
    list-style: none;
    justify-self: start;
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    text-align: right;
  }

  .content {
    margin-top: auto;
    margin-bottom: 4rem;

    .title {
      font-size: 1.75rem;
    }
  }
}

.heading {
  font-size: 10rem;
  width: 100%;
  margin: 0;
  top: 13rem;
  font-family: 'Summer';
  position: absolute;
  @keyframes background-pan {
    from {
      background-position: 0% center;
    }

    to {
      background-position: -200% center;
    }
  }
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5) 2.5%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.5) 97.5%
    ),
    radial-gradient(
      rgba(255, 100, 255, 0.1) 0%,
      rgba(255, 179, 255, 0.8) 25%,
      rgba(255, 100, 255, 0.1) 50%,
      rgba(255, 179, 255, 0.8) 75%,
      rgba(255, 100, 255, 0.1) 100%
    );
  background-size: 1000%;
  background-position: 100% center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: background-pan 10s linear 0s infinite alternate;
  opacity: 0.35;

  @include medium {
    font-size: 8rem;
  }

  @include small {
    font-size: 6rem;
  }
}

.ProjectCardList {
  list-style: none;
  padding: 0;
  padding-left: 100vw;
  display: flex;
  gap: 20vw;
  width: fit-content;
}

.ProjectCardExtended {
  width: 50rem;
  aspect-ratio: 22.5 / 14;
  display: flex;
  background-color: #0c0b15;
  border-radius: 12px;
  box-shadow: 0 0 16px 2px rgba(255, 179, 255, 0.8);
  margin-inline: 2rem;
  position: relative;

  @include medium {
    display: block;
  }

  .image {
    width: 20rem;
    aspect-ratio: 9 / 14;
    overflow: none;
    border-radius: 12px 0px 0px 12px;
    position: relative;

    @include medium {
      display: none;
    }

    .date {
      list-style: none;
      justify-self: start;
      position: absolute;
      top: 1rem;
      right: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: right;
      align-items: flex-end;
      margin: 0;
      padding: 0;
    }
  }

  .content {
    padding: 2rem;
    text-align: left;
    margin-bottom: 2rem;

    .title {
      font-size: 2rem;
    }

    .links {
      position: absolute;
      right: 1rem;
      display: flex;
      gap: 1rem;
      bottom: 1rem;
      .link {
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        font-size: $text-size-button;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        text-decoration: none;
        margin-bottom: 1rem;

        &:hover,
        &:focus {
          color: #aaf;
        }

        svg {
          font-size: $icon-size-button;
        }
      }
    }
  }
}
