@import 'styles/mixins';

.Error {
  position: absolute;
  z-index: 100;
  top: 20%;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 0 10%;
  backdrop-filter: blur(4px);

  @include medium {
    top: 15%;
  }

  h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-right: auto;
  }

  h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-right: auto;
  }

  label {
    font-size: 1.25rem;
    margin-right: auto;
  }

  :last-child {
    margin-top: 1rem;
  }
}
