@import 'styles/mixins';

.Hero {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0 2rem;

  @include medium {
    padding: 0;
    flex-direction: column-reverse !important;
    align-items: center;
  }

  .Image {
    max-height: 50ch;
    max-width: 50%;

    @include medium {
      max-width: 75%;
    }
  }

  .Text {
    display: flex;
    flex-direction: column;
    max-width: 75ch;
    gap: 1rem;
    padding: 0;

    @include medium {
      text-align: left !important;
      padding: 0 1rem;
    }

    .Heading {
      font-size: 2rem;
      margin: 0;
      font-weight: 500;
    }

    .Paragraph {
      line-height: 1.35;
      font-weight: 300;
    }
  }
}
