@import '@styles/variables';
@import '@styles/mixins';

.Navbar {
  $padding: $nav-padding;
  position: fixed;
  width: calc(100vw - ($padding * 2 + 6px));
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: $padding calc($padding + 6px) $padding $padding;
  align-items: center;
  backdrop-filter: blur(4px);

  @include large {
    backdrop-filter: none;
  }

  .routes {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    padding: 0 2rem;

    @include large {
      display: none;
      flex: 0;
    }

    .link {
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      font-size: $text-size-button;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      text-decoration: none;

      &:hover,
      &:focus {
        color: #aaf;
      }

      svg {
        font-size: $icon-size-button;
      }
    }

    .mainLink {
      margin: 0;
    }
  }

  .links {
    display: flex;
    gap: 1.5rem;

    .link {
      * {
        transition: all 0.2s ease-in-out;
        font-size: $icon-size-button;
        color: $text-base-color;
      }

      &:hover,
      &:focus {
        * {
          color: #aaf;
        }
      }
    }
  }
}
