@import 'styles/variables';
@import 'styles/mixins';

.Navbar {
  $padding: $nav-padding;
  position: fixed;
  width: calc(100vw - ($padding * 2));
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: $padding;
  align-items: center;
  backdrop-filter: blur(10px);

  .routes {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    padding: 0 2rem;

    @include large {
      display: none;
      flex: 0;
    }

    .route {
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      font-size: $text-size-button;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .routeLink {
        font-size: $icon-size-button;
      }
    }

    .route:hover,
    .route:focus {
      color: #aaf;
    }
  }

  .links {
    display: flex;
    gap: 1.5rem;

    * {
      font-size: $icon-size-button;
      color: $text-base-color;
    }

    .linkedin,
    .github {
      * {
        transition: color 0.2s ease-in-out;
      }
    }

    .linkedin:hover,
    .linkedin:active,
    .linkedin:focus {
      * {
        color: #0072b1;
      }
    }

    .github:hover,
    .github:active,
    .github:focus {
      * {
        color: #696161;
      }
    }
  }
}
