.Partners {
  background: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(0, 0, 0, 0.2) 2rem,
    rgba(0, 0, 0, 0.2) calc(100% - 2rem),
    transparent 100%
  );
  padding-block: 4rem;

  .List {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    gap: 2rem;

    .Partner {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
