.Footer {
  padding: 3rem 2rem 2rem;
  background: linear-gradient(to bottom, rgb(69, 36, 90) 0%, rgba(0, 0, 0, 0) 1rem);
  .licenses {
    display: flex;
    font-size: 1rem;

    label,
    * {
      font-size: 1rem !important;
      display: inline;
    }
  }
}
