@import 'styles/mixins';
@import 'styles/globals';

@include xlarge {
}

@include large {
}

@include medium {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.25rem;
  }
}

@include small {
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #dbb0e7 #805991;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #805991;
}

*::-webkit-scrollbar-thumb {
  background-color: #dbb0e7;
  border-radius: 10px;
}

a {
  color: $text-base-color;
}
