.EndorsementSection {
    padding-block: 10rem;
    padding-inline: 5rem;
    background: linear-gradient(180deg, rgb(69, 36, 90) 0%, rgb(51, 28, 67) 100%);

    .heading {
        font-size: 2rem;
        margin: 0;
        font-weight: 500;
        text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
    }
  
    .endorsements {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
        flex-wrap: wrap;
        margin-top: 2rem;
    }
}