@import '@styles/mixins';

.EndorsementSection {
    .heading {
        font-size: 2rem;
        margin: 0;
        font-weight: 500;
        text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
    }

    .description {
        line-height: 1.25rem;
    }
  
    .endorsements {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
        flex-wrap: wrap;
        margin-top: 2rem;
        justify-items: center;

        @include large {
            grid-template-columns: 1fr;
        }
    }
}